<header class="cmp-header">
<!-- DESKTOP -->
<div class="cmp-header__desktop d-none d-lg-block">
    <div class="cmp-header__nav-setup">
        <nav class="navbar">
            <ul class="navbar-menu">
                {% for menu in menusSetup %}
                    {% if menu.submenus.length %}
                    <li class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            {{menu.name}}
                        </a>
                        <div class="navbar-dropdown">
                            {% for submenu in menu.submenus %}
                            <a class="navbar-item">
                                {{submenu}}
                            </a>
                            {% endfor %}
                        </div>
                    </li>
                    {% else %}
                    <li class="navbar-item">
                        <a href="">
                            {{menu.name}}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/images/logo.png" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                {% for menu in menus %}
                    <a href="{{menu.url}}" class="navbar-item">
                        {{menu.name}}
                    </a>
                {% endfor %}
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <span class="icon has-text-info">
                        <i class="fas fa-info-circle"></i>
                    </span>
                    <span class="icon has-text-success">
                        <i class="fas fa-check-square"></i>
                    </span>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="cmp-header__mobile d-lg-none">
    <div class="mobile-header">
        <a role="button" class="navbar-item burger-icon p-0 col-1">{% include "@image" with {src: "/images/burguermenu.svg", alt:"Menu"}%}</a>
        <a class="navbar-item logo col-7 mr-3 mr-md-5" href="/">{% include "@image" with {src: "/images/logo.png", alt:"ALLDATA Logo"}%}</a>
        <a role="button" class="navbar-item cart-icon col-1 p-0 float-right">{% include "@image" with {src: "/images/cart.svg", alt:"Cart"}%}</a>
        <a role="button" class="navbar-item search-icon col-1 mr-2 mr-md-3 p-0 float-right">{% include "@image" with {src: "/images/search.svg", alt:"Search"}%}</a>
        <hr class="sublogo">
    </div>
    <div class="cmp-header-mobile__nav-setup">
        <nav class="navbar">
            <ul class="navbar-menu">
                <div class="menu-head">
                    <span role="button" class="close-menu"><img src="/images/closemenu.svg" alt="close"></span>
                </div>
                {% for menu in menus %}
                    <li class="main-navbar-item">
                        <a href="#">{{menu.name}} 
                        {% if menu.name != "BUY NOW"  %}
                            {% include "@image" with {classes:"float-right", src:"/images/menu_go.svg", alt:menu.name }%}
                        {% endif %}
                        </a>
                    </li>
                    <div class="submenu-navbar">
                        <div class="menu-head">
                            <span class="menu-back"><img src="/images/menu-back.svg" alt="back"></span>
                            <span class="close-menu"><img src="/images/closemenu.svg" alt="close"></span>
                        </div>
                        <ul>
                            {% for submenu in menu.submenus %}
                                <li class="submenu-navbar-item">
                                    <a href="#">{{submenu.name}}{% include "@image" with {classes:"float-right", src:"/images/submenuclosed.svg", alt:submenu.name }%}</a> 
                                </li>
                                <div class="lastLevel-navbar" id="{{submenu.name}}">
                                    <ul>
                                        {% for submenu in submenu.submenus %}
                                            <li class="lastLevel-navbar-item">
                                                <a href="#">{{submenu}}</a>
                                            </li>
                                        {% endfor %} 
                                    </ul>
                                </div>
                            {% endfor %} 
                        </ul>
                    </div>
                {% endfor %}
                {% for menu in menusSetup %}
                    {% if menu.submenus.length %}
                        <li class="main-navbar-item">
                            <a href="#">{{menu.name}}{% include "@image" with {classes:"float-right", src:"/images/menu_go.svg", alt:menu.name }%}</a>
                        </li>
                        <div class="submenu-navbar">
                            <div class="menu-head">
                                <span class="menu-back"><img src="/images/menu-back.svg" alt="back"></span>
                                <span class="close-menu"><img src="/images/closemenu.svg" alt="close"></span>
                            </div>
                            <ul>
                                {% for submenu in menu.submenus %}
                                    <li class="submenu-navbar-item">
                                        <a href="#">{{submenu}}</a> 
                                    </li>
                                {% endfor %} 
                            </ul>
                        </div>
                    {% else %}
                        <li class="secondary-navbar-item">
                            <a href="">
                                {{menu.name}}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
</header>

<!-- MOBILE -->
<header class="cmp-header-mobile d-lg-none">
</header>