<!-- DESKTOP -->
<header class="cmp-header d-none d-lg-block">
    <div class="cmp-header__nav-setup">
        <nav class="navbar">
            <ul class="navbar-menu">
                {% for menu in menusSetup %}
                    {% if menu.submenus.length %}
                    <li class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            {{menu.name}}
                        </a>
                        <div class="navbar-dropdown">
                            {% for submenu in menu.submenus %}
                            <a class="navbar-item">
                                {{submenu}}
                            </a>
                            {% endfor %}
                        </div>
                    </li>
                    {% else %}
                    <li class="navbar-item">
                        <a href="">
                            {{menu.name}}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/images/logo.png" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                {% for menu in menus %}
                    <a href="{{menu.url}}" class="navbar-item">
                        {{menu.name}}
                    </a>
                {% endfor %}
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <span class="icon has-text-info">
                        <i class="fas fa-info-circle"></i>
                    </span>
                    <span class="icon has-text-success">
                        <i class="fas fa-check-square"></i>
                    </span>
                </div>
            </div>
        </div>
    </nav>
</header>

<!-- MOBILE -->
<header class="cmp-header-mobile d-lg-none">
    <div class="mobile-header">
        <a role="button" class="navbar-burger burger">x</a>
        <a class="navbar-item" href="/">
            <img src="/images/logo.png" width="112" height="28">
        </a>
    </div>
    <div class="cmp-header-mobile__nav-setup">
        <nav class="navbar">
            <ul class="navbar-menu">
                <div class="menu-head">
                    <span role="button" class="close-menu"><img src="/images/closemenu.svg" alt="close"></span>
                </div>
                {% for menu in menus %}
                    <li class="main-navbar-item">
                        <a href="#">{{menu.name}}</a>
                    </li>
                    <div class="submenu-navbar">
                        <div class="menu-head">
                            <span class="menu-back"><img src="/images/menu-back.svg" alt="back"></span>
                            <span class="close-menu"><img src="/images/closemenu.svg" alt="close"></span>
                        </div>
                        <ul>
                            {% for submenu in menu.submenus %}
                                <li class="submenu-navbar-item">
                                    <a href="#">{{submenu.name}}</a> 
                                </li>
                                <div class="lastLevel-navbar" id="{{submenu.name}}">
                                    <ul>
                                        {% for submenu in submenu.submenus %}
                                            <li class="lastLevel-navbar-item">
                                                <a href="#">{{submenu}}</a>
                                            </li>
                                        {% endfor %} 
                                    </ul>
                                </div>
                            {% endfor %} 
                        </ul>
                    </div>
                {% endfor %}
                {% for menu in menusSetup %}
                    {% if menu.submenus.length %}
                        <li class="secondary-navbar-item">
                            <a href="#" >
                                {{menu.name}}
                            </a>
                            <div class="navbar-dropdown">
                                <ul>
                                    {% for submenu in menu.submenus %}
                                        <li class="secondary-dropdown-item">
                                            <a class="navbar-item">
                                                {{submenu}}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    {% else %}
                        <li class="secondary-navbar-item">
                            <a href="">
                                {{menu.name}}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>