<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<header class="cmp-header">
   
    <!-- DESKTOP -->
    <div class="cmp-header__desktop d-none d-lg-block">
        <div class="cmp-header__nav-setup">
            <nav class="navbar navbar-expand-lg mx-lg-3">
                <div class="collapse navbar-collapse" id="nav-setup">
                    <ul class="navbar-nav ml-auto">
                        {% for menu in menusSetup %}
                            {% if menu.submenus.length %}
                            <li class="nav-setup-item nav-item dropdown ml-lg-3">
                                <a class="nav-link dropdown-toggle" id="{{menu.name}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{menu.name}}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="{{menu.name}}">
                                    {% for submenu in menu.submenus %}
                                    <a class="dropdown-item px-2">
                                        {{submenu}}
                                    </a>
                                    {% endfor %}
                                </div>
                            </li>
                            {% else %}
                            <li class="nav-setup-item nav-item ml-lg-3">
                                <a class="nav-link">
                                    {{menu.name}}
                                </a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </div>
        <div class="cmp-header__nav-menu">
            <nav class="navbar navbar-expand-lg" role="navigation" aria-label="main navigation">
                <div class="logo">
                    <a class="navbar-brand" href="/"><img src="/images/logo.png"></a>
                    <hr class="sublogo">
                </div>
                
                <div id="nav-menu" class="navbar-menu navbar-collapse">
                    <ul class="nav navbar-nav" role="menu">
                        {% for menu in menus %}
                            {% if menu.submenus.length %}
                            <li class="nav-menu-item nav-item pl-lg-1 pr-lg-4 px-xl-4 has-dropdown" role="presentation">
                                <a href="" class="nav-link has-dropdown" id="{{menu.name}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0">
                                    {{menu.name}}
                                </a>
                                <div class="nav-submenu" id="{{menu.name}}-submenu" aria-labelledby="{{menu.name}}" aria-hidden="true">
                                    <div class="col-lg-1"></div>
                                    {% if menu.image %}
                                    <div class="col-lg-4 mt-lg-5">
                                        <img src="{{menu.image}}" alt="{{menu.name}}">
                                    </div>
                                    
                                    {% endif %}
                                    {% if menu.name == "ABOUT US" %}
                                        <div class="col-lg-4 mt-lg-5">
                                    {% else %}
                                        <div class="card-columns col-lg-9 mt-lg-5">
                                    {% endif %}
                                    
                                    {% for submenu in menu.submenus %}
                                        <div class="nav-group">
                                            {# {% include "@image" with {src:submenu.image, alt:submenu.name} %} #}
                                            {% if submenu.topicImage %}
                                            <img src="{{submenu.topicImage}}" alt="{{submenu.name}}">
                                            {% endif %}
                                            <h6><a href="" class="submenu-title">{{submenu.name}}</a></h6>
                                            {% if submenu.submenus.length %}
                                            <ul>
                                            {% for topic in submenu.submenus %}
                                                <li><a href="" class="submenu-link">{{topic}}</a></li>
                                            {% endfor %}
                                            </ul>
                                            {% endif %}
                                        </div>
                                        
                                    {% endfor %}
                                    </div>
                                    
                                    
                                    
                                </div>
                            </li>
                            {% else %}
                            <li class="nav-menu-item nav-item pl-lg-1 pr-lg-4 px-xl-4 no-dropdown">
                                <a href="" class="nav-link no-submenu">
                                    {{menu.name}}
                                </a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="navbar-end float-right">
                    <span role="button" class="icon icon-seach mr-lg-3">
                    {% include "@image" with {src: "/images/search.svg", alt:"Search"}%}
                    </span>
                    <span role="button" class="icon icon-cart mr-lg-5">
                    {% include "@image" with {src: "/images/cart.svg", alt:"Cart"}%}
                    </span>
                </div>
            </nav>
        </div>
        <div class="blue-filler d-none"></div>
    </div>
    <!-- MOBILE -->
    <div class="cmp-header__mobile d-lg-none">
        <div class="mobile-header">
            <a role="button" class="navbar-item burger-icon p-0 col-1">{% include "@image" with {src: "/images/burguermenu.svg", alt:"Menu"}%}</a>
            <a class="navbar-item logo col-7 mr-3 mr-md-5" href="/">{% include "@image" with {src: "/images/logo.png", alt:"ALLDATA Logo"}%}</a>
            <a role="button" class="navbar-item cart-icon col-1 p-0 float-right">{% include "@image" with {src: "/images/cart.svg", alt:"Cart"}%}</a>
            <a role="button" class="navbar-item search-icon col-1 mr-2 mr-md-3 p-0 float-right">{% include "@image" with {src: "/images/search.svg", alt:"Search"}%}</a>
            <hr class="sublogo">
        </div>
        <div class="cmp-header-mobile__nav-setup">
            <nav class="navbar">
                <ul class="navbar-menu">
                    <div class="menu-head">
                        <span role="button" class="close-menu"><img src="/images/closemenu.svg" alt="close"></span>
                    </div>
                    {% for menu in menus %}
                        <li class="main-navbar-item">
                            <a href="#">{{menu.name}} 
                            {% if menu.name != "BUY NOW"  %}
                                {% include "@image" with {classes:"float-right", src:"/images/menu_go.svg", alt:menu.name }%}
                            {% endif %}
                            </a>
                        </li>
                        <div class="submenu-navbar">
                            <div class="menu-head">
                                <span class="menu-back"><img src="/images/menu-back.svg" alt="back"></span>
                                <span class="close-menu"><img src="/images/closemenu.svg" alt="close"></span>
                            </div>
                            <ul>
                                {% for submenu in menu.submenus %}
                                    <li class="submenu-navbar-item">
                                        <a href="#">{{submenu.name}}{% include "@image" with {classes:"float-right", src:"/images/submenuclosed.svg", alt:submenu.name }%}</a> 
                                    </li>
                                    <div class="lastLevel-navbar" id="{{submenu.name}}">
                                        <ul>
                                            {% for submenu in submenu.submenus %}
                                                <li class="lastLevel-navbar-item">
                                                    <a href="#">{{submenu}}</a>
                                                </li>
                                            {% endfor %} 
                                        </ul>
                                    </div>
                                {% endfor %} 
                            </ul>
                        </div>
                    {% endfor %}
                    {% for menu in menusSetup %}
                        {% if menu.submenus.length %}
                            <li class="main-navbar-item">
                                <a href="#">{{menu.name}}{% include "@image" with {classes:"float-right", src:"/images/menu_go.svg", alt:menu.name }%}</a>
                            </li>
                            <div class="submenu-navbar">
                                <div class="menu-head">
                                    <span class="menu-back"><img src="/images/menu-back.svg" alt="back"></span>
                                    <span class="close-menu"><img src="/images/closemenu.svg" alt="close"></span>
                                </div>
                                <ul>
                                    {% for submenu in menu.submenus %}
                                        <li class="submenu-navbar-item">
                                            <a href="#">{{submenu}}</a> 
                                        </li>
                                    {% endfor %} 
                                </ul>
                            </div>
                        {% else %}
                            <li class="secondary-navbar-item">
                                <a href="">
                                    {{menu.name}}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>

